<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Audio Video Upload Snippet</h2>
        <h3 class="oe_slogan">Instead of embed or link, you can upload <br/>existing Audio or Video file and re-use it.</h3>
        <ul>
            <li>open website</li>
            <li>edit website</li>
            <li>paste any existing image block</li>
            <li>double click image</li>
            <li>open video tab and upload your audio or video file</li>
        </ul>
        <div class="col-md-12 oe_demo oe_screenshot">
            <img src="snippet_video_flectra_01.png">
        </div>
    </div>
</section>
